/build
/*.iml
.idea/workspace.xml
.idea/libraries
.gradle/
.idea/compiler.xml
.idea/copyright/
.idea/encodings.xml
.idea/gradle.xml
.idea/libraries/fastjson_1_1_45_android.xml
.idea/libraries/hamcrest_core_1_3.xml
.idea/libraries/junit_4_12.xml
.idea/libraries/org_apache_http_legacy_android_23.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml

app/src/main/res/.DS_Store
projectFilesBackup1/
/*.Ds_Store
local.properties
.idea/
